@import "~@/assets/styles/colors.scss";

.theme-rainbow {
    .app-title {
        background-image: linear-gradient(to right,
                $--color-rainbow-1,
                $--color-rainbow-2,
                $--color-rainbow-3,
                $--color-rainbow-4,
                $--color-rainbow-5,
                $--color-rainbow-6,
                $--color-rainbow-7
        );
        background-clip: text;
        color: transparent;
        font-size: 5rem;
        font-weight: bold;
        -webkit-text-stroke: 1px black;
    }
}
.theme-emo {
    .app-title {
        color: $--color-emo-title;
    }
}


